tests/foo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE xsd:schema [
<!ATTLIST xsd:simpleType id ID #IMPLIED>
]>

<xsd:schema
    xmlns="http://foo.example.org"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://foo.example.org">
  <xsd:import namespace="https://bar.example.com" schemaLocation="aux-bar.xsd"/>

  <xsd:simpleType name="UpperString" id="UpperString">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:notation name="jpeg" public="image/jpeg"/>

  <xsd:simpleType name="ListOfEnum" id="ListOfEnum">
    <xsd:list>
      <xsd:simpleType>
        <xsd:restriction base="xsd:NMTOKEN">
          <xsd:enumeration value="FOO"/>
          <xsd:enumeration value="BAR"/>
          <xsd:enumeration value="BAZ"/>
          <xsd:enumeration value="QUX"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:list>
  </xsd:simpleType>
</xsd:schema>
