tests/schema/component/foo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
    xmlns="http://foo.example.org"
    xmlns:dc="http://purl.org/dc/terms/"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:bar="https://bar.example.com#"
    targetNamespace="http://foo.example.org"
    attributeFormDefault="qualified"
    xml:lang="en">
  <xsd:notation
      name="FooNotation"
      id="FooNotation"
      public="application/x-foo"
      system="http://foo.example.org/FooData"/>

  <xsd:simpleType name="FooUnsigned6">
    <xsd:annotation>
      <xsd:appinfo xmlns="http://www.w3.org/1999/xhtml">
        <rdfs:label>Foo Unsigned 6</rdfs:label>
        <meta
            property="bar:isLimitedInt"
            datatype="xsd:boolean"
            content="true"/>
        <meta property="bar:bits" datatype="xsd:byte" content="6"/>
        <link
            rel="dc:seeAlso"
            href="http://foo.example.org/documentation/FooUnsigned6"/>
      </xsd:appinfo>
    </xsd:annotation>

    <xsd:restriction base="xsd:byte">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="63"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FooUnsigned5">
    <xsd:annotation>
      <xsd:appinfo xmlns="http://www.w3.org/1999/xhtml">
        <meta property="bar:bits" datatype="xsd:byte" content="5"/>
        <link
            rel="dc:seeAlso"
            href="http://foo.example.org/documentation/FooUnsigned5"/>
      </xsd:appinfo>
    </xsd:annotation>

    <xsd:restriction base="FooUnsigned6">
      <xsd:maxInclusive value="31"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name="foo-int">
    <xsd:simpleType>
      <xsd:annotation>
        <xsd:appinfo xmlns="http://www.w3.org/1999/xhtml">
          <meta property="bar:bits" content=''/>
          <meta property="dc:seeAlso" content=''/>
        </xsd:appinfo>
      </xsd:annotation>

      <xsd:restriction base="FooUnsigned5">
        <xsd:maxInclusive value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>

  <xsd:simpleType name="EnumerationUnionType">
    <xsd:union memberTypes="xsd:formChoice xsd:typeDerivationControl"/>
  </xsd:simpleType>

  <xsd:simpleType name="nonNegativeFloat">
    <xsd:restriction base="xsd:float">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="UnionType">
    <xsd:union memberTypes="nonNegativeFloat xsd:positiveInteger"/>
  </xsd:simpleType>
</xsd:schema>
