xsd/dc.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
    xmlns="http://purl.org/dc/terms/"
    xmlns:dc="http://purl.org/dc/terms/"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://purl.org/dc/terms/"
    dc:title="Selected Dublin Core types and attributes"
    dc:creator="RV1971 &lt;rv1971@web.de&gt;"
    dc:created="2017-01-01"
    dc:modified="2026-01-05"
    xml:lang="en">
  <xsd:annotation>
    <xsd:documentation xmlns="http://www.w3.org/1999/xhtml">
      <p>This schema document describes selected <a
      href="http://purl.org/dc/terms/">Dublin Core</a> related types
      and attributes. Its main purpose is to re-use the semantics
      defined there, so the definitions are copied almost
      verbatim.</p>
    </xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://www.w3.org/2000/01/rdf-schema#"
              schemaLocation="rdfs.xsd"/>

  <!-- types -->

  <xsd:simpleType name="Agent">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>A resource that acts or has the power to act.</p>

        <p>Examples of Agent include person, organization, and
        software agent.</p>
      </xsd:documentation>
    </xsd:annotation>

    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="AgentClass">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>A group of agents.</p>

        <p>Examples of Agent Class include groups seen as classes,
        such as students, women, charities, lecturers.</p>
      </xsd:documentation>
    </xsd:annotation>

    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="Audience">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>This type does not impose further restrictions onto
        <code>AgentClass</code>. It is provided to allow further
        restriction via <code>&lt;xsd:redefine></code> and to support
        code which make use of XSD type information.</p>
      </xsd:documentation>
    </xsd:annotation>

    <xsd:restriction base="AgentClass"/>
  </xsd:simpleType>

  <xsd:simpleType name="W3cdtf">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p><a href="https://www.w3.org/TR/NOTE-datetime">W3C Date and
        Time Formats.</a></p>
      </xsd:documentation>
    </xsd:annotation>

    <xsd:union memberTypes="xsd:date xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="Type">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p><a href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#section-7">DCMI Type Vocabulary.</a></p>
      </xsd:documentation>
    </xsd:annotation>

    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="Collection" id="Collection">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>An aggregation of resources.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="Dataset" id="Dataset">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>Data encoded in a defined structure.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="Event" id="Event">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>A non-persistent, time-based occurrence.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="Image" id="Image">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>A visual representation other than text.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="InteractiveResource" id="InteractiveResource">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>A resource requiring interaction from the user to be
            understood, executed, or experienced.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="MovingImage" id="MovingImage">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>A series of visual representations imparting an
            impression of motion when shown in succession.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="PhysicalObject" id="PhysicalObject">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>An inanimate, three-dimensional object or substance.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="Service" id="Service">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>A system that provides one or more functions.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="Software" id="Software">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>A computer program in source or compiled form.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="Sound" id="Sound">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>A resource primarily intended to be heard.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="StillImage" id="StillImage">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>A static visual representation.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>

      <xsd:enumeration value="Text" id="Text">
        <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
          <xsd:documentation>
            <p>A resource consisting primarily of words for reading.</p>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- attributes -->

  <xsd:attribute name="audience" type="Audience" rdfs:label="Audience">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>A class of entity for whom the resource is intended or
        useful.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="created" type="W3cdtf" rdfs:label="Date created">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>Date of creation of the resource.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="creator" type="Agent" rdfs:label="Creator">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>An entity primarily responsible for making the
        resource.</p>

        <p>Examples of a Creator include a person, an organization, or
        a service.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="dateAccepted" type="W3cdtf" rdfs:label="Date accepted">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>Date of acceptance of the resource.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="identifier" type="rdfs:Literal" rdfs:label="Identifier">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>An unambiguous reference to the resource within a given context.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="language" type="xsd:language-x" rdfs:label="Language">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>A language of the resource.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="modified" type="W3cdtf" rdfs:label="Date modified">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>Date on which the resource was changed.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="publisher" type="Agent" rdfs:label="Publisher">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>An entity responsible for making the resource
        available.</p>

        <p>Examples of a Publisher include a person, an organization,
        or a service.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="rightsHolder" type="Agent" rdfs:label="Rights Holder">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>A person or organization owning or managing rights over the
        resource.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="title" type="rdfs:Literal" rdfs:label="Title">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>A name given to the resource.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="source" type="xsd:anyURI" rdfs:label="Source">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>A related resource from which the described resource is derived.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:attribute name="type" type="Type" rdfs:label="Type">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>The nature or genre of the resource.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>

  <xsd:element name="alternative" type="rdfs:Literal" rdfs:label="Alternative Title">
    <xsd:annotation xmlns="http://www.w3.org/1999/xhtml">
      <xsd:documentation>
        <p>An alternative name for the resource.</p>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
